<div class="wd-100">
    <div class="d-flex justify-content-end mat-btn-30 mb-2">
        <button mat-flat-button class="mont400 f-sz11" color="primary">Create New User</button>
    </div>

    <div class="table-default">
        <table>
            <thead>
                <tr>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3 wd-60px">User Id</th>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3">User Name</th>
                    <th class="mont500 f-sz11 text-center theme-background-primary pd-3 wd-70px">Gender</th>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3">Address</th>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3">Email</th>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3 wd-140px">Phone Number</th>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3 wd-60px">User Id</th>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3">User Name</th>
                    <th class="mont500 f-sz11 text-center theme-background-primary pd-3 wd-70px">Gender</th>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3">Address</th>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3">Email</th>
                    <th class="mont500 f-sz11 text-left theme-background-primary pd-3 wd-140px">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="mont400 f-sz11 text-left pd-3 wd-60px">0001</td>
                    <td class="mont400 f-sz11 text-left pd-3">Zayed Mohammed </td>
                    <td class="mont400 f-sz11 text-center pd-3 wd-70px">M</td>
                    <td class="mont400 f-sz11 text-left pd-3">Pisharath Parambil</td>
                    <td class="mont400 f-sz11 text-left pd-3">zeydmohammed1999gmail.com</td>
                    <td class="mont400 f-sz11 text-left pd-3 wd-140px">+91 8789565467</td>
                    <td class="mont400 f-sz11 text-left pd-3 wd-60px">0001</td>
                    <td class="mont400 f-sz11 text-left pd-3">Zayed Mohammed </td>
                    <td class="mont400 f-sz11 text-center pd-3 wd-70px">M</td>
                    <td class="mont400 f-sz11 text-left pd-3">Pisharath Parambil</td>
                    <td class="mont400 f-sz11 text-left pd-3">zeydmohammed1999gmail.com</td>
                    <td class="mont400 f-sz11 text-left pd-3 wd-140px">+91 8789565467</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>