@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Roboto", sans-serif;
}

.text-center{
    text-align: center;
}
table tr td, th{
    border: 1px solid #999;
}

.col-sm-6-1{
    width: 50%;
    float: left;
   }
.pe-2{
    padding-right: 8px;
}
.mb-0{margin-bottom: 0;}

.row-1{margin-bottom: 10px;}

h2{margin-bottom: 10px;}