.side-navbar {
    height: 100vh;
}

.side-nav-head {
    height: 40px;
    border-bottom: 1px solid #ffffff23;
}

.side-nav-menu {
    height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;

    &::-webkit-scrollbar {
        width: 0px;
    }

    a {
        color: #FFF;
        border-radius: 0px !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        min-height: 40px;
    }
}

.single-menu-wd {
    width: 100%;
    padding: 0 12px !important;
}

.single-menu-wd-sec-1 {
    width: 100%;
    padding: 0 12px 0 24px !important;
}

::ng-deep {
    .btn-24 {
        width: 24px !important;
        height: 24px !important;

        .mat-mdc-mini-fab .mat-mdc-button-touch-target {
            height: 24px !important;
            width: 24px !important;
        }
    }

    .menu-expansion {
        .mat-expansion-panel {
            box-shadow: none !important;
        }

        .mat-expansion-panel-header {
            height: 40px !important;
            min-height: 40px !important;
            background-color: #202073;
            border-radius: 0px !important;
            padding: 0 12px !important;
            display: flex;
            align-items: center;
        }

        .mat-expansion-indicator {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            width: 12px !important;
            margin-left: auto;
        }

        .mat-expansion-panel-header:hover,
        .mat-expansion-panel-header:focus {
            background-color: #202073 !important;
        }

        .mat-expansion-panel-header-title {
            color: #FFF;
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 0;
        }

        .mat-expansion-indicator::after {
            color: #FFF !important;
            border-width: 0 1px 1px 0 !important;
            margin: 0 !important;
        }

        .mat-expansion-panel-body {
            padding: 0px !important;
            background-color: #202073;
            border-radius: 0px !important;
        }
    }
}

.view-child {
    position: absolute;
    right: 8px;
    top: 10px;
}

.active-menu {
    background: #202073;
    background: -webkit-linear-gradient(90deg, #202073 0%, #0180d55d 100%);
    background: linear-gradient(90deg, #202073 0%, #0180d55d 100%);
}

.border-btn {
    background-color: transparent;
    border: 1px solid #ffffff23;
}

::ng-deep {
    .mat-mdc-tooltip {
        --mat-tooltip-container-color: #202073;
        --mat-tooltip-supporting-text-font: "Montserrat-400";
        --mat-tooltip-supporting-text-size: 9px;
        --mat-tooltip-supporting-text-weight: 400;
        --mat-tooltip-supporting-text-color: #FFF;
    }

    .mdc-tooltip__surface {
        letter-spacing: .5px !important;
        // border: 1px solid #c9cae5 !important;
    }
}