// /* Background Image */
// .login-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background: url('../../../../assets/bg-image.jpg') no-repeat center center/cover;
//   }
  
//   /* Semi-transparent Overlay */
//   .login-box {
//     background: rgba(255, 255, 255, 0.85); /* Slight transparency */
//     padding: 2rem;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//     width: 100%;
//     max-width: 350px;
//     text-align: center;
//     backdrop-filter: blur(10px); /* Optional: Blurred effect */
//   }
  
//   /* Headings */
//   h2 {
//     margin-bottom: 1.5rem;
//     color: #333;
//   }
  
//   /* Input Fields */
//   .input-group {
//     margin-bottom: 1rem;
//     text-align: left;
//   }
  
// //   label {
// //     display: block;
// //     font-weight: 600;
// //     margin-bottom: 5px;
// //     color: #333;
// //   }
  
// //   input {
// //     width: 100%;
// //     padding: 10px;
// //     border: 1px solid #ccc;
// //     border-radius: 5px;
// //     font-size: 1rem;
// //   }
  
//   /* Login Button */
//   .login-button {
//     width: 100%;
//     padding: 10px;
//     background: #007bff;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     font-size: 1rem;
//     cursor: pointer;
//     transition: background 0.3s;
//   }
  
//   .login-button:hover {
//     background: #0056b3;
//   }
  
//   /* Register Link */
//   .register-link {
//     margin-top: 1rem;
//     font-size: 0.9rem;
//   }
  
//   .register-link a {
//     color: #007bff;
//     text-decoration: none;
//   }
  
//   .register-link a:hover {
//     text-decoration: underline;
//   }
  

mat-form-field.small {
    --mat-form-field-container-height: 32px;
    --mat-form-field-container-vertical-padding: 2px;
}


.ads{
    height: 100vh;
    background-color: red;
}

.login-wrap{
    padding-left: 100px !important;
    padding-right: 100px !important;
}

// .btn-30{
//     height: 32px !important;
//     min-height: 32px !important;
// }