<!-- <div class="login-container">
    <div class="login-box">
        <h2>Login new</h2>

        <mat-form-field class="wd-100 custom-form-field small" appearance="outline">
            <mat-label class="f-sz11 mont500">Work Email</mat-label>
            <input matInput class="mont400 f-sz11">
        </mat-form-field>

        <form (submit)="onLogin()">
            <div class="input-group">
                <label>Email</label>
                <input type="email" [(ngModel)]="email" name="email" required placeholder="Enter your email" />
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="password" name="password" required
                    placeholder="Enter your password" />
            </div>

            <button type="submit" class="login-button">Login</button>

            <p class="register-link">
                Don't have an account?
                <a routerLink="/register">Sign up</a>
            </p>
        </form>
    </div>
</div>
 -->


<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col-md-7">
            <div class="ads w-100"></div>
        </div>

        <div class="col-md-5 p-5 d-flex align-items-center">

            <div>
                <div class="mont600 f-sz22">Login to encryptz world</div>
                <div class="mont400 f-sz10">See what is going on with your business</div>
            </div>
        </div>

    </div>
</div>