<div class="drag-container" #screenBoundary>
    <mat-card appearance="outlined" class="draggable-box p-1" cdkDrag
        [cdkDragBoundary]="screenBoundary">

        <div class="btn-24">
            <button mat-mini-fab class="shadow-n cursor-move rotate-90" color="" cdkDragHandle>
                <mat-icon class="material-symbols-outlined icon-12">drag_indicator</mat-icon>
            </button>
        </div>

        <mat-divider class="mrT-5 mrB-5"></mat-divider>

        <div class="btn-24 mrT-3 mrB-3">
            <button mat-mini-fab class="shadow-n" color="">
                <mat-icon class="material-symbols-outlined icon-12">person</mat-icon>
            </button>
        </div>

        <div class="btn-24 mrT-3 mrB-3">
            <button mat-mini-fab class="shadow-n" color="">
                <mat-icon class="material-symbols-outlined icon-12">paid</mat-icon>
            </button>
        </div>

        <div class="btn-24 mrT-3 mrB-3">
            <button mat-mini-fab class="shadow-n" color="">
                <mat-icon class="material-symbols-outlined icon-12">corporate_fare</mat-icon>
            </button>
        </div>

        <div class="btn-24 mrT-3 mrB-3">
            <button mat-mini-fab class="shadow-n" color="">
                <mat-icon class="material-symbols-outlined icon-12">euro</mat-icon>
            </button>
        </div>

        <div class="btn-24 mrT-3 mrB-3">
            <button mat-mini-fab class="shadow-n" color="">
                <mat-icon class="material-symbols-outlined icon-12">person</mat-icon>
            </button>
        </div>

        <div class="btn-24 mrT-3 mrB-3">
            <button mat-mini-fab class="shadow-n" color="">
                <mat-icon class="material-symbols-outlined icon-12">paid</mat-icon>
            </button>
        </div>

        <div class="btn-24 mrT-3 mrB-3">
            <button mat-mini-fab class="shadow-n" color="">
                <mat-icon class="material-symbols-outlined icon-12">corporate_fare</mat-icon>
            </button>
        </div>

        <div class="btn-24 mrT-3 mrB-3">
            <button mat-mini-fab class="shadow-n" color="">
                <mat-icon class="material-symbols-outlined icon-12">euro</mat-icon>
            </button>
        </div>

        <mat-divider class="mrT-5 mrB-5"></mat-divider>


        <div class="btn-24">
            <button mat-mini-fab class="shadow-n" color="">
                <mat-icon class="material-symbols-outlined icon-12">keyboard_arrow_up</mat-icon>
            </button>
        </div>

    </mat-card>
</div>



<div class="custom-sidebar"
    [ngClass]="!isSidebarExpanded && isSmallDevice ? 'hide-collapsed' :  !isSidebarExpanded && !isSmallDevice ? 'collapsed' : ''">
    <app-accounts-side-bar [isExpand]="isSidebarExpanded" (isOpenSideNav)="checkExpandNav($event)" />
</div>

<div class="workspace-header">
    <div>
        <div class="header-label">Business</div>
        <div class="header-value">{{ selectedBusiness?.businessName || 'No business selected' }}</div>
        <div class="header-sub" *ngIf="selectedBusiness?.businessCode">
            {{ selectedBusiness?.businessCode }}
        </div>
    </div>
    <div class="module-chip-wrap">
        <div class="header-label">Module</div>
        <mat-chip color="primary" selected>Accounts</mat-chip>
    </div>
    <div class="d-flex align-items-center gap-2">
        <button mat-stroked-button color="primary" (click)="navigateBack()">
            Change business
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="User menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</div>

<div class="content-area">
    <router-outlet></router-outlet>
</div>