// animation loader
.pre-loader-dark {
    background-color: #24242495;
}

.pre-loader-light {
    background-color: #ffffffb7;
}

.pre-loader {
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.spinner {
   width: 40px;
   height: 40px;
   display: grid;
   border: 3.2px solid #0000;
   border-radius: 50%;
   border-color: #cd1d1d #0000;
   animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   margin: 1.6px;
   border: inherit;
   border-radius: 50%;
}

.spinner::before {
   border-color: #0d11ce #0000;
   animation: inherit;
   animation-duration: 0.5s;
   animation-direction: reverse;
}

.spinner::after {
   margin: 6.4px;
}

@keyframes spinner-e04l1k {
   100% {
      transform: rotate(1turn);
   }
}