<router-outlet />
<!-- <div class="" cdkDrag (cdkDragEnded)="onDragEnd($event)">
  Drag me around
</div> -->

<h1 class="m-0">hjkl</h1>

<div class="drag-container" #screenBoundary>
<mat-card appearance="outlined" class="draggable-box p-1" cdkDrag 
(cdkDragEnded)="onDragEnd($event)" [cdkDragBoundary]="screenBoundary" [ngStyle]="{
    position: isDropped ? 'fixed' : 'fixed' }">

    <div class="btn-24">
        <button mat-mini-fab class="shadow-n cursor-move rotate-90" color="" cdkDragHandle>
            <mat-icon class="material-symbols-outlined icon-12">drag_indicator</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="btn-24">
        <button mat-mini-fab class="shadow-n" color="">
            <mat-icon class="material-symbols-outlined icon-12">person</mat-icon>
        </button>
    </div>

    <div class="btn-24">
        <button mat-mini-fab class="shadow-n" color="">
            <mat-icon class="material-symbols-outlined icon-12">paid</mat-icon>
        </button>
    </div>

    <div class="btn-24">
        <button mat-mini-fab class="shadow-n" color="">
            <mat-icon class="material-symbols-outlined icon-12">corporate_fare</mat-icon>
        </button>
    </div>

    <div class="btn-24">
        <button mat-mini-fab class="shadow-n" color="">
            <mat-icon class="material-symbols-outlined icon-12">euro</mat-icon>
        </button>
    </div>

    <div class="btn-24">
        <button mat-mini-fab class="shadow-n" color="">
            <mat-icon class="material-symbols-outlined icon-12">person</mat-icon>
        </button>
    </div>

    <div class="btn-24">
        <button mat-mini-fab class="shadow-n" color="">
            <mat-icon class="material-symbols-outlined icon-12">paid</mat-icon>
        </button>
    </div>

    <div class="btn-24">
        <button mat-mini-fab class="shadow-n" color="">
            <mat-icon class="material-symbols-outlined icon-12">corporate_fare</mat-icon>
        </button>
    </div>

    <div class="btn-24">
        <button mat-mini-fab class="shadow-n" color="">
            <mat-icon class="material-symbols-outlined icon-12">euro</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>


    <div class="btn-24">
        <button mat-mini-fab class="shadow-n" color="">
            <mat-icon class="material-symbols-outlined icon-12">keyboard_arrow_up</mat-icon>
        </button>
    </div>

</mat-card>
</div>