// 
.custom-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    // background: #eee;
    color: #FFF;
    background-color: #202073;
    width: 200px;
    transition: width 0.3s ease;
    overflow: hidden;
    height: 100vh;
}

.custom-sidebar.collapsed {
    width: 28px;
    border-radius: 0 0;
}

.custom-sidebar.hide-collapsed {
    width: 0px;
}

.menu-spacer {
    flex: 1 1 auto;
}

.content-area {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
}

.custom-sidebar.collapsed+.content-area {
    margin-left: 28px;
}

.tool-bar-head {
    height: 40px;
    border-left: 1px solid #4c4ca1;
    background-color: #202073;
}

.screen-title-name {
    width: calc(100% - 180px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #e7e7f9;
}

@media (max-width: 991.99px) {
    .content-area {
        margin-left: 0;
    }
}