<div class="custom-sidebar"
    [ngClass]="!isSidebarExpanded && isSmallDevice ? 'hide-collapsed' :  !isSidebarExpanded && !isSmallDevice ? 'collapsed' : ''">
    <app-side-bar [isExpand]="isSidebarExpanded" (isOpenSideNav)="checkExpandNav($event)" />
</div>

<div class="content-area">
    <!-- <button mat-raised-button (click)="toggleSidebar()">
        {{ isSidebarExpanded ? 'Collapse' : 'Expand' }} Sidebar
    </button> -->
    <div class="tool-bar-head d-flex align-items-center py-2 px-2">
        <button mat-mini-fab class="mat-btn-30 shadow-n border-btn"><mat-icon class="icon-10">arrow_back</mat-icon></button>
        <div class="mont600 f-sz11 screen-title-name">{{ screenTitle | uppercase }}</div>
        <span class="menu-spacer"></span>
    </div>

    <div class="p-2 screen-wrap">
        <router-outlet></router-outlet>
    </div>
</div>