<div class="custom-sidebar"
    [ngClass]="!isSidebarExpanded && isSmallDevice ? 'hide-collapsed' :  !isSidebarExpanded && !isSmallDevice ? 'collapsed' : ''">
    <app-side-bar [isExpand]="isSidebarExpanded" (isOpenSideNav)="checkExpandNav($event)" />
</div>

<div class="content-area">
    <!-- <button mat-raised-button (click)="toggleSidebar()">
        {{ isSidebarExpanded ? 'Collapse' : 'Expand' }} Sidebar
    </button> -->
    <div class="tool-bar-head d-flex align-items-center py-2 px-2">
        <button mat-mini-fab class="mini-fab-btn-24 shadow-n border-btn me-2" color="primary"
        (click)="location.back()">
            <mat-icon color="" class="icon-10 material-symbols-outlined">arrow_back</mat-icon>
        </button>
        <div class="mont600 f-sz11 screen-title-name">{{ screenTitle | uppercase }}</div>
        <span class="menu-spacer"></span>
        <div class="d-flex align-items-center gap-2">
            <div class="user-info" *ngIf="currentUser">
                <span class="mont400 f-sz11">{{ currentUser.userName || currentUser.userHandle }}</span>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="User menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <div class="p-2 screen-wrap">
        <router-outlet></router-outlet>
    </div>
</div>