<div class="side-navbar">
    <div class="side-nav-head d-flex align-items-center justify-content-center flex-column">
        @if(!isExpand){
        <div class="btn-24">
            <button mat-mini-fab color="" class="shadow-n btn-24 border-btn" (click)="openSideNav()">
                <mat-icon color="primary" class="icon-12 material-symbols-outlined">apps</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        }
        @else {
        <div class="d-flex align-items-center justify-content-between wd-100 pdL-8 pdR-8">
            <div class="mont600 f-sz16">Encryptz</div>
            <div class="btn-24">
                <button mat-mini-fab color="primary" class="shadow-n btn-24 border-btn" (click)="closeSideNav()">
                    <mat-icon color="" class="icon-12 material-symbols-outlined">chevron_left</mat-icon>
                </button>
            </div>
        </div>
        }
    </div>
    <div class="side-nav-menu">
        @for (item of menuItems; track $index) {

        @if(item.items.length == 0){
        <div class="position-relative" [matTooltip]="!isExpand ? item.label : ''" matTooltipPosition="right">
            <a href="#" mat-button (click)="navigateMenu(item)"
                [ngClass]="{'active-menu': selectedMenu === (item.route || item.label)}"
                class="d-flex align-items-center justify-content-start single-menu-wd cursor-pointer">
                <mat-icon class="icon-14 material-symbols-outlined mrR-8">{{ item.icon }}</mat-icon>
                <span class="mont400 f-sz12">{{ item.label }}</span>
            </a>
        </div>
        }
        @else {
        <div class="position-relative menu-expansion">
            <mat-accordion>
                <mat-expansion-panel class="menu-item-first">
                    <mat-expansion-panel-header class="inner-expansel" [matTooltip]="!isExpand ? item.label : ''"
                        matTooltipPosition="right">
                        <mat-panel-title class="mont400 f-sz12 letter-sp-n d-flex align-items-center">
                            <mat-icon class="icon-14 mrR-8 material-symbols-outlined">{{ item.icon }}</mat-icon>
                            <span class="text-left no-wrap">{{ item.label }}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    @for (submenu of item.items; track $index) {
                    <div class="position-relative" [ngClass]="{'first-sec-menu': isExpand}"
                        [matTooltip]="!isExpand ? submenu.label : ''" matTooltipPosition="right">
                        <a href="#" mat-button (click)="navigateMenu(submenu)"
                            [ngClass]="{'active-menu': selectedMenu === (submenu.route || submenu.label)}"
                            class="d-flex align-items-center justify-content-start single-menu-wd-sec-1 cursor-pointer position-relative">
                            <mat-icon class="icon-14 material-symbols-outlined mrR-8">{{ submenu.icon }}</mat-icon>
                            <span class="mont400 f-sz12">{{ submenu.label }}</span>
                        </a>
                    </div>
                    }
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        }
        }
    </div>
</div>