.side-navbar {
    height: 100vh;
}

.side-nav-head {
    height: 40px;
    border-bottom: 1px solid #ffffff23;
    // background-color: #FFF;
}

.side-nav-menu {
    height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0px;
    }

    a {
        color: #FFF;
        border-radius: 0px !important;
    }
}

.single-menu-wd {
    width: 200px;
}

.single-menu-wd-sec-1 {
    width: 188px;
}



// .first-sec-menu {
//     &::before {
//         content: '';
//         position: absolute;
//         left: 13px;
//         top: 0;
//         height: 100%;
//         width: .5px;
//         background-color: #FFF;
//     }

//     &:last-child::before {
//         height: 50%;
//         top: 0px;
//         bottom: 50%;
//     }

//     .single-menu-wd {
//         width: 180px;
//     }

// }

// .first-menu-btn {
//     &::before {
//         content: "";
//         position: absolute;
//         left: -7px;
//         top: 5px;
//         width: 6px;
//         height: 12px;
//         border: 1px solid #FFF;
//         border-radius: 0px;
//         border-top: 0px;
//         border-right: 0px;
//         border-left: 0px;
//     }
// }

::ng-deep {
    .btn-24 {
        width: 24px !important;
        height: 24px !important;

        .mat-mdc-mini-fab .mat-mdc-button-touch-target {
            height: 24px !important;
            width: 24px !important;
        }
    }

    .menu-expansion {
        .mat-expansion-panel {
            box-shadow: none !important;
        }

        .mat-expansion-panel-header {
            height: 34px !important;
            background-color: #202073;
            border-radius: 0px !important;
            padding: 10px 8px;
        }

        .mat-expansion-indicator {
            display: flex !important;
            justify-content: center !important;
            width: 12px !important;
        }

        .mat-expansion-panel-header:hover,
        .mat-expansion-panel-header:focus {
            background-color: #202073 !important;
        }

        .mat-expansion-panel-header-title {
            color: #FFF;
        }

        .mat-expansion-indicator::after {
            color: #FFF !important;
            border-width: 0 1px 1px 0 !important;
            margin-right: 4px !important;
            margin-left: 4px !important;
            // margin-bottom: 5px !important;
        }

        .mat-expansion-panel-body {
            padding: 0px 0px 0px 0px !important;
            background-color: #202073;
            border-radius: 0px !important;
            // margin-bottom: -5px;
        }
    }
}

.view-child {
    position: absolute;
    right: 8px;
    top: 10px;
}

.active-menu {
    background: #202073;
    background: -webkit-linear-gradient(90deg, #202073 0%, #0180d55d 100%);
    background: linear-gradient(90deg, #202073 0%, #0180d55d 100%);
}

.border-btn {
    background-color: transparent;
    border: 1px solid #ffffff23;
}

::ng-deep {
    .mat-mdc-tooltip {
        --mdc-plain-tooltip-container-color: #202073;
        --mdc-plain-tooltip-supporting-text-font: "Montserrat-400";
        --mdc-plain-tooltip-supporting-text-size: 9px;
        --mdc-plain-tooltip-supporting-text-weight: 400;
        --mdc-plain-tooltip-supporting-text-color: #FFF;
    }

    .mdc-tooltip__surface {
        letter-spacing: .5px !important;
        // border: 1px solid #c9cae5 !important;
    }
}